.button {
  cursor: pointer;
  width: 198px;
  padding: 17px 27px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  background-color: $basic-blue;
  color: $basic-grey;

  &--credit {
    font-size: 18px;
    display: block;
    width: 162px;
    padding: 17px 36px;
    text-decoration: none;
    margin-top: 36px;
    color: $basic-black;
    background-color: $basic-grey;
  }

  &--converter {
    font-size: 18px;
    width: 384px;
    height: 60px;
    padding: 22px 37px;;
  }
}