.page-header__container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  min-height: 91px;
}

.page-header__navigation {
  margin-left: -115px;
  margin-top: 8px;
}

.page-header__authorization {
  margin-top: 7px;
  display: flex;
}