.page {
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 22px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: $basic-grey;
  color: $basic-black;
  overflow-x: hidden;
}

.page__main {
  margin-top: -26px;
  background-color: white;
}

.page__header {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  min-height: 91px;
}

.page__footer {
  width: 1170px;
  margin: 48px auto 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
  
  